{% extends 'base.html.twig' %}

{% block title %}Blog-Liste des Auteurs{% endblock %}

{% block body %}

<div class="container d-flex justify-content-start">
    <div class="col-md-8 mt-5 text-left">
       <p>Liste des Auteurs</p> 
       <hr>
            <ul class="nav flex-column">
                {% for author in authors %}
                <li class="nav-item">      
                        <a href="#">- {{ author.firstname }} {{ author.lastname }} ( a coder liens vers l 'auteur ) </a> 
                </li>           
                {% endfor %}
            </ul>
    </div>
</div>
{% endblock %}
