{% extends 'base.html.twig' %}

{% block title %}Blog-Liste des Posts{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-12">
            <p class="">Liste des posts</p> 
            <hr>
            <ul class="nav flex-column">
                {% for post in posts %}
                <li class="nav-item m-2">      
                    <a href="{{ path('show',{post : post.id}) }}" class="nav-link"><img src="{{ post.image }}" width="120" class="rounded">
                    <span class="ml-3 h4">{{ post.title }}</span></a> 
                </li>                        
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
