body{
    font-family: 'Lato', sans-serif;
    padding-bottom : 5rem ;
   
}
.small{
    font-size: 0.8rem;
    color :rgb(189, 189, 189) ;
}
.date{
    font-size: 0.8rem ;
    color: grey ;
    font-style: italic ;
}
.like:hover{
    cursor: pointer ;
    
}
.h-grey:hover{
    background: rgb(243, 243, 243) ;
}
.status{
    color: rgb(48, 54, 73) ;
    font-size: 1.2rem ;
    font-weight: bold ;

}
.liked{

    font-size: 3rem ;
    color: brown ;
}

.noliked{

    font-size: 2.5rem ;
    color: blue ;
}

.liked , .noliked:hover {
    cursor: pointer ;
}