body{
    font-family: 'Lato', sans-serif;
   
}
.small{
    font-size: 0.8rem;
    color :rgb(189, 189, 189) ;
}
.date{
    font-size: 0.8rem ;
    color: grey ;
    font-style: italic ;
}
.like:hover{
    cursor: pointer ;
    
}